@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MILIGRAM BOLD";
  src: url("../assets/font/Milligram/Milligram-Bold.ttf");
}

@font-face {
  font-family: "MILIGRAM LIGHT";
  src: url("../assets/font/Milligram/Milligram-Light.ttf");
}

@font-face {
  font-family: "MILIGRAM MEDIUM";
  src: url("../assets/font/Milligram/Milligram-Medium.ttf");
}

@font-face {
  font-family: "BATTAMBANG BOLD";
  src: url("../assets/font/Battambang/Battambang-Bold.ttf");
}

@font-face {
  font-family: "BATTAMBANG MEDIUM";
  src: url("../assets/font/Battambang/Battambang-Regular.ttf");
}

@font-face {
  font-family: "MILIGRAM TEXT NORMAL";
  src: url("../assets/font/Milligram/MilligramText-Regular.ttf");
}

@font-face {
  font-family: "MILIGRAM TEXT BOOK";
  src: url("../assets/font/Milligram/MilligramText-Book.ttf");
}

@font-face {
  font-family: "MILIGRAM TEXT MEDIUM";
  src: url("../assets/font/Milligram/MilligramText-Medium.ttf");
}

/* div{
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: hide 1s ease-in-out forwards;
} */

/* Keyframe for honey comb cell in technologies section */
@keyframes fading {
  0% {
    filter: invert(0);
  }
  50% {
    filter: invert(0.8);
    background-color: transparent;
  }
  100% {
    filter: invert(0);
    background-color: #00a99d;
  }
}
